<!DOCTYPE html>
<html ng-app="acchallenge">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Avenue Code Challenge - Michael Haruo Nakashima</title>

	<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="./bower_components/components-font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
	<main class="app ac " ng-controller="MapController as vm">
		
		<section class="ac__form ">
			
			<div class="clearfix">
				<a class="ac__brand" href="/"><i class="fa fa-map-marker"></i> {{vm.title}}</a>			
			</div>

			<form class="" name="ac_hostForm" novalidate >
			    	        
			      	<div class="">
			      		
			      		<div class="">
			      			<div class="form-group">
			      				<label for="">Digite o Host</label>
			      				<input class="ac__input ac_host" name="ac_host" required placeholder="Enter host location" ng-model="vm.ac_host" ng-pattern="vm.urlRegex"  />
			      			</div>			      			
			      		</div>

			      		<div class="">
			      			
			      			<button class="btn btn-primary" ng-click="vm.lookForHost()">
			      				<i class="fa fa-repeat"></i> Reset my Location
			      			</button>
			      			
			      			<button class="btn btn-primary" ng-click="vm.lookForHost('home')">
			      				<i class="fa fa-map-marker"></i> My Location
			      			</button>

			      			<button class="btn btn-primary" ng-disabled="ac_hostForm.ac_host.$invalid" ng-click="vm.lookForHost(vm.ac_host)">
			      				<i class="fa fa-search"></i> Locate
			      			</button>		      			
							
			      		</div>			      		
			      		
			      	</div>

			    
			</form>

			<div class="ac_panel--indicator latitude" ng-hide="!vm.latitude || !vm.longitude">
				<h3>Latitude:</h3>

				<span>{{vm.latitude}}</span>
			</div>

			<div class="ac_panel--indicator longitude" ng-hide="!vm.latitude || !vm.longitude">
				<h3>Longitude:</h3>

				<span>{{vm.longitude}}</span>
			</div>

		</section>

		<section class="ac__panel--position">
			
			<footer class="ac__map" id="map" ng-hide="!vm.latitude || !vm.longitude" map-lazy-load="https://maps.google.com/maps/api/js" >
				<ng-map center="[{{vm.latitude}},{{vm.longitude}}]" zoom="14">
					<marker position="{{marker.latitude}},{{marker.longitude}}" animation="Animation.BOUNCE" centered="true" ng-repeat="marker in vm.markers"></marker>
				</ng-map>			
			</footer>
		</section>			
	</main>	


	<script src="./bower_components/angular/angular.min.js"></script>
	<script src="./bower_components/angular-route/angular-route.min.js"></script>
	<script src="./bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="/bower_components/ngmap/build/scripts/ng-map.min.js"></script>
	<script src="http://maps.google.com/maps/api/js"></script>
	<script src="./js/app.js"></script>
	<script src="./js/app.services.js"></script>
	<script src="./js/map.controller.js"></script>
</body>
</html>